[Unit]
Description=Xboxdrv driver service

[Service]
Type=forking
ExecStart=/home/deck/git/xboxdrv/scripts/InstallXboxdrvSD.sh

[Install]
WantedBy=multi-user.target
